
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Manga ID</th>
                    <th>ISBN</th>
                    <th>Title</th>
                    <th>Number</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="manga in mangas">
                    <td>
                        {{ manga.mId }}
                    </td>
                    <td>
                        {{ manga.isbn }}
                    </td>
                    <td>
                        {{ manga.title }}
                    </td>
                    <td>
                        {{ manga.bookNumber }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-2">
        &nbsp;
    </div>
</div>
